<header class="header">
          
<input class="menu-btn" type="checkbox" id="menu-btn" />
<label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>

<!-- Start Main Menu Top Bar -->
<ul class="menu main-menu">
  <li>
    <%= link_to 'Home',root_path%>
    <span><i class="fas fa-caret-up"></i></span>
  </li>  
  <li>
    <%= link_to 'Comprar', products_path %>
    <span><i class="fas fa-caret-up"></i></span>
  </li>
  <li><a href="#contact">Ver<span><i class="fas fa-caret-up"></i></span></a></li>
</ul>
<!-- End Main Menu Top Bar -->
</header>